<a
  class='carousel-item'
  href='#'
  onclick="displaySelectedItemDetails('{{name}}', '{{file_path}}')"
>
  <div class='container dropdown'>
    <div class='item-container'>
      <h6>{{name}}</h6>
      <img src={{file_path}} />
    </div>
  </div>
</a>