<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Fun with Yen</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <link
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <nav id='nav'>
      <a href='/'><img src='/images/icons/home.svg' alt='home icon' /></a>
      <a href='/dashboard'><img
          src='/images/icons/dashboard.svg'
          alt='dashboard icon'
        /></a>
      {{#if loggedIn}}
        <button id='logout' class="logout-button"><img src="/images/icons/logout.svg" alt"logout icon"></button>
      {{else}}
        <a href='/login' id='login-icon'><img src="/images/icons/login.svg" alt="logout-icon"></a>
      {{/if}}
    </nav>
    <div class='container'>
      <main>
        {{{body}}}
      </main></div>
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>

  </body>

</html>