<div>
  <h4>Home</h4>
  <h5>Select an image to trace</h5>

  <h5>Shapes</h5>

  {{#each shapes as |shape|}}
    <div>
    {{> items}}
    </div>
  {{/each}}
  <h5>Numbers</h5>

  {{#each numbers as |number|}}
    <div>
    {{> items}}

    </div>
  {{/each}}
  <h5>Guided Numbers</h5>
  {{#each guidedNumbers as |number|}}
    <div>
    {{> items}}
    </div>
  {{/each}}
  <h5>Letters</h5>
  {{#each letters as |letter|}}
    <div>
    {{> items}}
    </div>
  {{/each}}
  <h5>Guided Letters</h5>
  {{#each guidedLetters as |letter|}}
    <div>
    {{> items}}
    </div>
  {{/each}}
</div>

<script src='/js/options.js'></script>