  <div>
    <h2>Login</h2>
    <form>
      <div>
        <label for="un-login">Username:</label>
        <input class="form-input" type="text" id="un-login" />
      </div>
      <div>
        <label for="pw-login">Password:</label>
        <input class="form-input" type="password" id="pw-login" />
      </div>
      <div>
        <button class="login-form" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div>
    <h2>Signup</h2>
    <form>
      <div>
        <label for="un-signup">Username:</label>
        <input class="form-input" type="text" id="un-signup" />
      </div>
      <div>
        <label for="pw-signup">Password:</label>
        <input class="form-input" type="password" id="pw-signup" />
      </div>
      <div>
        <button class="signup-form" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="js/login.js"></script>
<script src="js/signup.js"></script>

